img{
	padding-top:100px;
	border:0;
}

.image{
	margin-top:200px;
}

.overview{
	padding-top:300px;
}

.keyFinding{
	padding-top:100px;
}

.research {
	padding-top:100px;
}
.research-title{
	padding-top:200px;
	padding-bottom:100px;
}

h3{
	padding-top:20px;
}

.persona{
	padding-top:300px;
}
